.footer {
  background-color: #fee8a0;
  padding: 30px 20px 30px 20px;
}
.footer .container {
  max-width: 1050px;
  margin: auto auto;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  text-decoration: none;
}
.footer__img {
  background-color: #ffffff;
  border-radius: 50%;
  width: 104px;
  height: 104px;
}
@media (max-width: 1600px) {
  .footer {
    padding: 15px 20px 15px 20px;
  }
  .footer__img {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 9px 0 9px 0;
  }
  .footer .container {
    width: 251px;
  }
  .footer__img {
    width: 30px;
    height: 30px;
  }
  .footer__img-1 {
    background-color: #fee8a0;
  }
  .footer__img-3 {
    background-color: #fee8a0;
  }
}
